@import "tailwindcss";

.container {
  max-width: 1190px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 15px;
}
.text-black{
  color: #333;
}
.bg-light{
  background-color: #FFE0B2 ;
}
.bg-color{
  background-color: #8BC34A;
}
.text-white{
  color: #fff;
}

.swipper-parent{
  /* overflow-x: hidden; */
}
.lazy-load-image-background{
  height: 100%;
  width: 100%;
}